/* size of form and its properties */
div.main-3 form {
	width: 70%;
	margin: 0px auto;
	text-align: center;
}

/* password field */
div.main-3 form input[type="password"] {
	width: 300px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	margin: 0px 0px 1% 0px;
}

/* "change password" button */
div.main-3 form input[type="submit"] {
	width: 200px;
	height: 30px;
	font-size: 18px;
	margin: 1% 0px 5% 0px;
}

/* notes regarding the new password */
span.pswd-notes {
	font-size: 16px;
	color: red;
	font-style: italic;
}

/* message after changing password */
span.change-password {
	font-size: 16px;
	color: blue;
	font-style: italic;
}